In [5]:
import os, sys
import dotenv

import pandas as pd
import numpy as np

dotenv.load_dotenv('../.env')    
PATH_DATA = os.environ.get('PATH_OPENSKY') + os.environ.get('PATH_REL_DATA')
PATH_USER_POSTS = PATH_DATA + 'user_posts/'

def get_df_posts(user_id: int) -> pd.DataFrame:
    global ERROR
    try:
        with open(PATH_USER_POSTS + str(user_id) + '.jsonl') as f:
            return pd.read_json(f, lines=True)
    except Exception as e:
        ERROR = True
        print(f"Exception in get_df_posts: {e}")
        return pd.DataFrame()

PATH_DATA

'/home/ties/Documents/00_Uni/24W/Foundations/opensky/data/'

In [6]:
df = pd.read_csv(os.environ.get('PATH_OPENSKY') + '/results/agg_user_data.csv', index_col=0)
df

,instance,langs,min_date,max_date,mean_sent_score,mean_like_count,mean_reply_count,mean_repost_count,n_posts,caught_exception
288811,bsky.social,jpn,1976-05-31 14:49:40.250,1976-05-31 15:06:01.140,NaN,4.636364,0.000000,0.242424,33.0,False
527934,bsky.social,"eng,heb,jpn,fra",1976-05-30 12:23:51.918,1976-05-31 15:06:22.021,0.824409,18.211009,0.616972,7.187691,2616.0,False
1632691,bsky.social,spa,1976-05-30 13:16:31.226,1976-05-30 13:16:31.226,NaN,2.000000,1.000000,0.000000,1.0,False
1909409,bsky.social,jpn,1976-05-31 14:48:11.431,1976-05-31 14:48:11.431,NaN,1.000000,0.000000,0.000000,1.0,False
2902501,bsky.social,kor,1976-05-30 12:59:01.311,1976-05-31 14:51:00.209,NaN,0.500000,0.100000,0.000000,10.0,False
...,...,...,...,...,...,...,...,...,...,...
495380,bsky.social,eng,1976-05-30 12:40:30.146,1976-05-31 14:48:01.457,0.790667,0.800000,0.173333,0.026667,75.0,False
502241,bsky.social,eng,1976-05-31 14:47:42.021,1976-05-31 14:47:42.304,0.800889,3.777778,1.444444,1.222222,9.0,False
1652601,bsky.social,"spa,eng,cat,jpn",1976-05-30 12:09:11.814,1976-05-31 15:03:31.700,0.770500,87.579186,3.936652,33.321267,221.0,False
1838341,bsky.social,por,1976-05-30 12:23:50.927,1976-05-30 12:24:10.012,NaN,13.600000,1.400000,3.400000,5.0,False
3401925,esq,eng,1976-05-30 13:47:41.035,1976-05-31 15:05:40.127,0.727286,0.411765,0.215686,0.098039,51.0,False

In [9]:
df.isna().sum()

instance               2426
langs                 12909
min_date               2426
max_date               2426
mean_sent_score      338029
mean_like_count        2426
mean_reply_count       2426
mean_repost_count      2426
n_posts                2426
caught_exception          0
dtype: int64

In [11]:
df.langs = df.langs.str.split(',')
df

,instance,langs,min_date,max_date,mean_sent_score,mean_like_count,mean_reply_count,mean_repost_count,n_posts,caught_exception
288811,bsky.social,[jpn],1976-05-31 14:49:40.250,1976-05-31 15:06:01.140,NaN,4.636364,0.000000,0.242424,33.0,False
527934,bsky.social,"[eng, heb, jpn, fra]",1976-05-30 12:23:51.918,1976-05-31 15:06:22.021,0.824409,18.211009,0.616972,7.187691,2616.0,False
1632691,bsky.social,[spa],1976-05-30 13:16:31.226,1976-05-30 13:16:31.226,NaN,2.000000,1.000000,0.000000,1.0,False
1909409,bsky.social,[jpn],1976-05-31 14:48:11.431,1976-05-31 14:48:11.431,NaN,1.000000,0.000000,0.000000,1.0,False
2902501,bsky.social,[kor],1976-05-30 12:59:01.311,1976-05-31 14:51:00.209,NaN,0.500000,0.100000,0.000000,10.0,False
...,...,...,...,...,...,...,...,...,...,...
495380,bsky.social,[eng],1976-05-30 12:40:30.146,1976-05-31 14:48:01.457,0.790667,0.800000,0.173333,0.026667,75.0,False
502241,bsky.social,[eng],1976-05-31 14:47:42.021,1976-05-31 14:47:42.304,0.800889,3.777778,1.444444,1.222222,9.0,False
1652601,bsky.social,"[spa, eng, cat, jpn]",1976-05-30 12:09:11.814,1976-05-31 15:03:31.700,0.770500,87.579186,3.936652,33.321267,221.0,False
1838341,bsky.social,[por],1976-05-30 12:23:50.927,1976-05-30 12:24:10.012,NaN,13.600000,1.400000,3.400000,5.0,False
3401925,esq,[eng],1976-05-30 13:47:41.035,1976-05-31 15:05:40.127,0.727286,0.411765,0.215686,0.098039,51.0,False

In [15]:
df.langs.explode().value_counts().head(20)

langs
eng    390937
jpn    277884
deu     68447
spa     55683
fra     51556
por     34400
kor     28512
zho     25951
rus     22243
nld     17063
ita     14246
swe     10952
fin     10153
ukr     10057
ell      8265
tha      7986
pol      7265
tur      7265
ara      5939
vie      5913
Name: count, dtype: int64