In [1]:
import os, sys
import dotenv

import pandas as pd
import numpy as np
import networkx as nx
from tqdm import tqdm

sys.path.append(os.environ.get('PATH_OPENSKY'))
from user_eval import get_df_posts 
from news_outlet_eval import get_news_feed, get_posts_from_nos

dotenv.load_dotenv('.env')    
PATH_DATA = os.environ.get('PATH_OPENSKY') + os.environ.get('PATH_REL_DATA')
PATH_USER_POSTS = PATH_DATA + 'user_posts/'

PATH_RESULTS = os.environ.get('PATH_OPENSKY') + 'results/'
PATH_USER_REPLIES_NEWS = PATH_RESULTS + 'agg_user_replies_news.csv'
PATH_USER_REPLIES_NEWS_POSTS = PATH_RESULTS + 'agg_user_replies_news_posts.csv'

PATH_FEED_POSTS = PATH_DATA + 'feed_posts/'

df = pd.read_csv(PATH_USER_REPLIES_NEWS_POSTS)

/tmp/ipykernel_160458/850889407.py:23: DtypeWarning: Columns (17) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(PATH_USER_REPLIES_NEWS_POSTS)

In [2]:
df

,post_id,user_id,instance,date,text,langs,like_count,reply_count,repost_count,reply_to,replied_author,thread_root,thread_root_author,repost_from,reposted_author,quotes,quoted_author,labels,sent_label,sent_score
0,10657080,284413,bsky.social,1976-05-31 14:32:20.803,let‚Äôs hope his expands ten fold üí™üí™,['eng'],0,0,0,10657081.0,15717.0,10657081.0,15717.0,NaN,NaN,NaN,NaN,NaN,2.0,0.945
1,10657084,284413,bsky.social,1976-05-31 14:32:02.212,"yes, we can do this! üí™",['eng'],3,0,0,5595208.0,2486.0,5595208.0,2486.0,NaN,NaN,NaN,NaN,NaN,2.0,0.956
2,10657085,284413,bsky.social,1976-05-31 14:31:51.419,"in other words, ‚Äúas long as it takes‚Äù it refer...",['eng'],0,1,0,10657086.0,12030.0,10657086.0,12030.0,NaN,NaN,NaN,NaN,NaN,1.0,0.583
3,10657096,284413,bsky.social,1976-05-31 14:31:21.410,i‚Äôll believe it when i see the weapons in Ukra...,['eng'],0,0,0,10657097.0,15717.0,10657097.0,15717.0,NaN,NaN,NaN,NaN,NaN,1.0,0.509
4,10657117,284413,bsky.social,1976-05-31 14:30:50.922,Expect the world to become way way worse. If a...,['eng'],1,0,0,5271912.0,15717.0,5271912.0,15717.0,NaN,NaN,NaN,NaN,NaN,0.0,0.890
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36816,171050451,141248,bsky.social,1976-05-31 15:04:51.347,La preuve qu'ils sont antid√©mocratiques. \nPer...,"['eng', 'fra']",4,0,0,5550653.0,4890.0,5550653.0,4890.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36817,105014318,92560,bsky.social,1976-05-31 15:04:40.159,What a complete abdication of good journalism ...,['eng'],0,0,0,698597.0,9.0,698597.0,9.0,NaN,NaN,NaN,NaN,NaN,0.0,0.790
36818,105014322,92560,bsky.social,1976-05-31 15:04:32.216,Trump and Biden are at par with age...exactly ...,['eng'],4,0,0,127576.0,379.0,127576.0,379.0,NaN,NaN,NaN,NaN,NaN,0.0,0.867
36819,105014501,92560,bsky.social,1976-05-31 14:30:50.808,Because doctors are literally refusing to pres...,['eng'],1,0,0,145919.0,379.0,145919.0,379.0,NaN,NaN,NaN,NaN,NaN,0.0,0.882
36820,105014583,92560,bsky.social,1976-05-30 13:18:10.143,Just sat theocrat already.,['eng'],1,0,0,479706.0,379.0,479706.0,379.0,NaN,NaN,NaN,NaN,NaN,1.0,0.705

In [3]:
relevant_news_items = df.thread_root.unique()
df_news_feed = get_news_feed()
df_news_feed = df_news_feed[df_news_feed.post_id.isin(relevant_news_items)]
df_news_feed['news_item'] = True
df['news_item'] = False
df_news_feed

,post_id,user_id,instance,date,text,langs,like_count,reply_count,repost_count,reply_to,replied_author,thread_root,thread_root_author,quotes,quoted_author,labels,news_item
0,3517724,27155,com,1976-05-30 13:16:41.125,üìç Welcome to üì∞ News! Please hit Like ‚ù§Ô∏è above ...,[eng],2799,46,104,NaN,NaN,NaN,NaN,NaN,NaN,None,True
1,3517724,27155,com,1976-05-30 13:16:41.125,üìç Welcome to üì∞ News! Please hit Like ‚ù§Ô∏è above ...,[eng],2799,46,104,NaN,NaN,NaN,NaN,NaN,NaN,None,True
2,3517724,27155,com,1976-05-30 13:16:41.125,üìç Welcome to üì∞ News! Please hit Like ‚ù§Ô∏è above ...,[eng],2799,46,104,NaN,NaN,NaN,NaN,NaN,NaN,None,True
4,3517724,27155,com,1976-05-30 13:16:41.125,üìç Welcome to üì∞ News! Please hit Like ‚ù§Ô∏è above ...,[eng],2799,46,104,NaN,NaN,NaN,NaN,NaN,NaN,None,True
5,3517724,27155,com,1976-05-30 13:16:41.125,üìç Welcome to üì∞ News! Please hit Like ‚ù§Ô∏è above ...,[eng],2799,46,104,NaN,NaN,NaN,NaN,NaN,NaN,None,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42100,8540816,319,com,1976-05-30 12:11:41.939,Decades before he was among the Supreme Court ...,[eng],87,6,21,NaN,NaN,NaN,NaN,NaN,NaN,None,True
42103,1233312,319,com,1976-05-30 12:11:21.712,Prosecutors accuse Trump of showing off classi...,None,26,6,8,NaN,NaN,NaN,NaN,NaN,NaN,None,True
42106,3517724,27155,com,1976-05-30 13:16:41.125,üìç Welcome to üì∞ News! Please hit Like ‚ù§Ô∏è above ...,[eng],2799,46,104,NaN,NaN,NaN,NaN,NaN,NaN,None,True
42109,44325423,319,com,1976-05-30 12:10:11.843,Florida Gov. Ron DeSantis‚Äôs wealthy donors and...,None,19,6,6,NaN,NaN,NaN,NaN,NaN,NaN,None,True
42111,3517724,27155,com,1976-05-30 13:16:41.125,üìç Welcome to üì∞ News! Please hit Like ‚ù§Ô∏è above ...,[eng],2799,46,104,NaN,NaN,NaN,NaN,NaN,NaN,None,True

In [4]:
df_news_feed['news_item'] = True
df['news_item'] = False 
df = pd.concat([df_news_feed, df])
df

,post_id,user_id,instance,date,text,langs,like_count,reply_count,repost_count,reply_to,...,thread_root,thread_root_author,quotes,quoted_author,labels,news_item,repost_from,reposted_author,sent_label,sent_score
0,3517724,27155,com,1976-05-30 13:16:41.125000,üìç Welcome to üì∞ News! Please hit Like ‚ù§Ô∏è above ...,[eng],2799,46,104,NaN,...,NaN,NaN,NaN,NaN,None,True,NaN,NaN,NaN,NaN
1,3517724,27155,com,1976-05-30 13:16:41.125000,üìç Welcome to üì∞ News! Please hit Like ‚ù§Ô∏è above ...,[eng],2799,46,104,NaN,...,NaN,NaN,NaN,NaN,None,True,NaN,NaN,NaN,NaN
2,3517724,27155,com,1976-05-30 13:16:41.125000,üìç Welcome to üì∞ News! Please hit Like ‚ù§Ô∏è above ...,[eng],2799,46,104,NaN,...,NaN,NaN,NaN,NaN,None,True,NaN,NaN,NaN,NaN
4,3517724,27155,com,1976-05-30 13:16:41.125000,üìç Welcome to üì∞ News! Please hit Like ‚ù§Ô∏è above ...,[eng],2799,46,104,NaN,...,NaN,NaN,NaN,NaN,None,True,NaN,NaN,NaN,NaN
5,3517724,27155,com,1976-05-30 13:16:41.125000,üìç Welcome to üì∞ News! Please hit Like ‚ù§Ô∏è above ...,[eng],2799,46,104,NaN,...,NaN,NaN,NaN,NaN,None,True,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36816,171050451,141248,bsky.social,1976-05-31 15:04:51.347,La preuve qu'ils sont antid√©mocratiques. \nPer...,"['eng', 'fra']",4,0,0,5550653.0,...,5550653.0,4890.0,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN
36817,105014318,92560,bsky.social,1976-05-31 15:04:40.159,What a complete abdication of good journalism ...,['eng'],0,0,0,698597.0,...,698597.0,9.0,NaN,NaN,NaN,False,NaN,NaN,0.0,0.790
36818,105014322,92560,bsky.social,1976-05-31 15:04:32.216,Trump and Biden are at par with age...exactly ...,['eng'],4,0,0,127576.0,...,127576.0,379.0,NaN,NaN,NaN,False,NaN,NaN,0.0,0.867
36819,105014501,92560,bsky.social,1976-05-31 14:30:50.808,Because doctors are literally refusing to pres...,['eng'],1,0,0,145919.0,...,145919.0,379.0,NaN,NaN,NaN,False,NaN,NaN,0.0,0.882
36820,105014583,92560,bsky.social,1976-05-30 13:18:10.143,Just sat theocrat already.,['eng'],1,0,0,479706.0,...,479706.0,379.0,NaN,NaN,NaN,False,NaN,NaN,1.0,0.705

In [ ]:
df.to_csv(PATH_RESULTS + 'news_items_and_replies.csv', index=False)